@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Quicksand|Uncial+Antiqua&display=swap');

:root {
  --brown: #A9898C;
  --grey: #A8A1A8;
  --darkGrey: #393F4F;
  --ice: #7987A1;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
ul {
  list-style: none;
}
/* HEADER */
.fas {
  font-size: 2rem;
  margin-left: 1rem;
}
nav {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
nav ul > * {
  display: inline;
  font-size: 2.6rem;
  padding: 0 5%;
}

#navLogo {
  padding-top: 1rem;
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
  font-size: 3.5rem;
  margin: 0 auto;
}


/* HOMEPAGE WITH ALL THE NOTES PREVIEW */
.KronikleSpace{
  border-radius: 15px;
  width: 80%;
  border: 2px solid grey;
  margin: 0 auto;
  padding: 0;
}

.KronikleSpace li {
  font-size: 2rem;
  padding: .7rem 1rem .7rem 1rem;
  border-bottom: 1px solid grey;
}

.fa-chevron-right {
  float: right;
}

/* NEW KRONIKLE */
.newKronikleForm {
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 80%;
}

.newKForm input {
  display: block;
  width: 100%;
  padding: 1rem;
}
.newKForm input[name="body"] {
  height: 40vh;
  margin-bottom: 1rem;
}
.newKForm button {
  font-size: 1rem;
  padding: .6rem 1rem;
  border-radius: 5px;
  background-color: orange;
}
