@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Quicksand|Noto+Sans|Uncial+Antiqua&display=swap');

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

:root {
  --brown: #E8D8BD;
  --darkBrown: #714a12;
  --darkGreen: #353121;
  --grey: #A8A1A8;
  --darkGrey: #393F4F;
  --gold: #c88905;
  --red: #c94808;
}
a:link, a:visited  {
  color: var(--gold);
  text-decoration: none;
  cursor: pointer;
}


button {
  font-size: 1rem;
  padding: .5rem 1.3rem;
  border-radius: 5px;
  background-color: var(--gold);
  color: #fff;
  font-weight: 400;
  margin-top: 1.2rem;
  margin-right: .6rem;
}

html {
  background-color: var(--brown);
  color: var(--darkGrey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
}

h2 {
  text-align: center;
  color: var(--darkBrown);
  font-size: 2rem;
  padding: 2rem 0;
}
h3 {
  text-align: left;
  color: var(--darkBrown);
  padding: 1.6rem 0;
}

.newKronikle, .singleKronikle, .editKronikle, .aboutPage {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}

ul {
  list-style: none;
}

/*   END COMMONS */


/* HEADER */

.fas {
  font-size: 1.5rem;
  color: #fff;
  transition: transform 1s;
}
nav .fas:hover {
  transform: translateY(-1.3rem);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 3rem;
  width: 100%;
  background-color: var(--darkGreen);
}

nav ul > * {
  font-size: 2rem;
   padding: 1.5rem 2rem 0 2rem;
}
#navShowAll {
  background-color: var(--grey);
}
#navAddNew {
  background-color: var(--gold);
}
#navAbout {
  background-color: var(--grey);
}

#navLogo {
  font-family: 'Uncial Antiqua', cursive;
  color: var(--darkBrown);
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  padding: 0 2rem 0 0;
  line-height: 90%;
}


/* HOMEPAGE WITH ALL THE NOTES PREVIEW */

#kronikleSpace {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 1.3rem;
  /* border-radius: 10px; */
  /* border: 2px solid var(--darkBrown); */
}

#kronikleSpace li {

  font-size: 1.7rem;
  font-weight: 900;
  padding: .7rem 1rem .7rem 1rem;
  border-bottom: 1px solid var(--darkBrown);
}
#kronikleSpace a:hover {
  letter-spacing: .2rem;
  color: var(--darkBrown);
  transition: all .6s;
}
#kronikleSpace li:last-child {
  border-bottom: none;
}

.fa-chevron-right {
  float: right;
}

/* NEW KRONIKLE */

.newKForm, .editKForm {
  margin: 0 auto;
  width: 80%;
}

.newKForm textarea, .editKForm textarea {
  border: 1px solid var(--darkBrown);
  background-color: white;
  color: var(--darkGreen);
  width: 95%;
  padding: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1rem;
}

.newKForm input, .editKForm input {
  background-color: var(--darkBrown);
  color: white;
  border: 1px solid var(--darkBrown);
  width: 95%;
  padding: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1rem;
}

.newKForm textarea {
  height: 40vh;
  margin-bottom: .6rem;
  resize: none;
}

#deleteBtn {
  background-color: var(--red);
  color: black;
}

#backBtn {
  margin-top: 1.5rem;
  border: 1px solid white;
  background-color: white;
  padding: 0;
}
#backBtn .fas {
  font-size: 1.6rem;
  color: var(--darkGrey);
  margin: 0;
}

/* SINGLE KRONIKLE  */

.kTitle {
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
  font-size: 2.4rem;
  color: var(--darkBrown);
  font-weight: 700;
  padding: 2rem 0;
}
.kBody {
  font-size: 1.3rem;
  color: var(--darkBrown);
}
.singleKronikle button {
  margin-top: 2rem;
}
#editBtn:hover {
  background-color: var(--red);
  color: black;
  letter-spacing: .2rem;
  transition: all .6s;
}

/* EDIT A KRONIKLE */
.editKForm input, .editKForm textarea {
  color: var(--grey);
}
.editKForm input:focus, .editKForm textarea:focus {
  color: var(--darkBrown);
}


/* ABOUT PAGE */
#social {
  display: flex;
  justify-content: center;
}
#social a {
  font-size: 2.5rem;
  margin: 0 1rem;
  color: var(--gold);
}

#social a:hover {
  color: var(--darkBrown);
  font-size: 3rem;
  transition: all .5s;
}

/* ------------- MEDIA QUERIES  */
@media only screen and (max-width: 900px) {
  body {
    width: 100%
  }
  nav {
    padding-top: 0;
  }
  nav ul > * {
    padding: 1.5rem 1.2rem 0 1.2rem;
  }
  .fas {
    font-size: 1.2rem;
  }
  #navLogo {
    font-size: 2rem;
  }
  #kronikleSpace li {
    font-size: 1.2rem;
    padding: .5rem 1rem .5rem 1rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
    padding: 2rem 0 1.5rem 0;
  }

  .fas {
    font-size: .8rem;
  }

  #navLogo {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    padding: 0 1rem 0 0;
  }

  #backBtn .fas {
    font-size: 1.3rem;
  }

  /* SINGLE KRONIKLE  */
  .kTitle {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 2rem 0 1rem 0;
  }
  .kBody {
    font-size: 1rem;
  }

  button {
    font-size: .7rem;
    padding: .4rem 1rem;
    font-weight: 400;
    margin-top: 1.2rem;
    margin-right: .6rem;
  }

  /* NEW KRONIKLE */
  .newKForm, .editKForm {
    margin: 0 auto;
    width: 95%;
  }

  .newKForm textarea, .editKForm textarea,
  .newKForm input, .editKForm input {
    font-size: 1rem;
  }

  .newKForm input, .editKForm input {
    color: white;
  }
}
