@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Quicksand|Noto+Sans|Abril+Fatface&&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --brown: #E8D8BD;
  --lightBrown: #ba8132;
  --darkBrown: #714a12;
  --lightGreen: #ede2b8;
  --darkGreen: #353121;
  --grey: #A8A1A8;
  --darkGrey: #393F4F;
  --gold: #c88905;
  --red: #c94808;
}

a:link, a:visited  {
  color: var(--gold);
  text-decoration: none;
  cursor: pointer;
}

button {
  font-size: 2.5vmin;
  padding: 1.5vmin 3.5vmin;
  border-radius: 5px;
  background-color: var(--gold);
  color: #fff;
  font-weight: 400;
  margin-top: 2.5vmin;
  margin-right: .5vmin;
}

#root {
  min-height: 100vh;
}

html, body {
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  color: var(--darkGrey);
  font-size: 16px;
}

html {
  background-color: var(--brown);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

h2 {
  text-align: center;
  color: var(--darkBrown);
  font-size: 3.5vmin;
  padding: 7vmin 0;
}
h3 {
  font-size: 3vmin;
  text-align: left;
  color: var(--darkBrown);
  padding: 5vmin 0;
}

.emptyList, .newKronikle, .singleKronikle, .editKronikle, .aboutPage, .lost {
  margin: 0 auto;
  width: 80%;
}

ul {
  list-style: none;
}

/*   END COMMONS */


/* NAVIGATION */
.fa-plus, .fa-question, .fa-copy {
  font-size: 3.5vmin;
  color: #fff;
  padding: 0 4.5vmin 0 4.5vmin;
  transition: transform 1s;
}
.fa-plus:hover,
.fa-question:hover,
.fa-copy:hover {
  transform: translateY(-2.5vmin);
}
nav ul {
  width: 100%;
  height: 10vmin;
  background-color: var(--darkGreen);
  display: flex;
  justify-content: flex-start;
}

#navLogo, #navShowAll, #navAddNew, #navAbout {
  align-self: stretch;
  display: flex;
  align-items: center;
}
#navShowAll {
  background-color: var(--grey);
}
#navAddNew {
  background-color: var(--gold);
}
#navAbout {
  background-color: var(--grey);
}

#navLogo {
  font-family: 'Abril Fatface', cursive;
  color: var(--lightBrown);
  font-size: 6vmin;
  padding: 0 4vmin 0 4vmin;
}

/* HOMEPAGE WITH ALL THE NOTES PREVIEW */

#kronikleSpace {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 6vmin 0 0 0;
}

.kCard {
  font-size: 3vmin;
  font-weight: 900;
  padding: .7rem 1rem .7rem 1rem;
  border: 1px solid var(--lightGreen);
  border-radius: 15px;
  margin-bottom: .7vmin;
}
.preview {
  font-size: 2vmin;
  font-weight: 400;
  padding-top: 1.3vmin;
}
#kronikleSpace a:hover {
  letter-spacing: .2rem;
  color: var(--darkBrown);
  transition: all .6s;
}

/* NEW KRONIKLE */
.newKForm, .editKForm {
  margin: 0 auto;
  width: 80%;
}

.formBody {
  border: 1px solid var(--darkBrown);
  background-color: white;
  color: var(--darkGreen);
  width: 100%;
  box-sizing: border-box;
}
#newKBodyTextArea, #editKBodyTextArea {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5vmin;
  min-height: 30px;
  padding: 1.5vmin 0 1.5vmin 1.5vmin;
  width: 95%;

}

.newKForm input, .editKForm input {
  background-color: var(--darkBrown);
  color: var(--darkGreen);
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 2.5vmin 0 2vmin 2vmin;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.7vmin;
}
.newKForm input {
  background-color: var(--brown);
  border: 1px solid var(--darkBrown);
}

#deleteBtn {
  background-color: var(--red);
  color: black;
}

#backBtn {
  width: 4vmin;
  height: 4vmin;
  margin-top: 3.5vmin;
}
#backBtn > * {
  font-size: 4vmin;
  color: var(--darkGrey);
  margin: 0;
}

/* SINGLE KRONIKLE  */

.kTitle {
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 4.6vmin;
  color: var(--darkBrown);
  font-weight: 700;
  padding: 8vmin 0 4vmin 0;
}
.kBody {
  font-size: 2.7vmin;
  line-height: 155%;
  color: var(--darkBrown);
}
.singleKronikle button {
  margin-top: 2rem;
}
#editBtn:hover {
  background-color: var(--red);
  color: black;
  letter-spacing: .2rem;
  transition: all .6s;
}

/* EDIT A KRONIKLE */
.editKForm input, .editKBody {
  color: var(--brown);
}
.editKForm input:focus, .editKBody:focus {
  color: var(--brown);
}


/* ABOUT PAGE */
.aboutPage p {
  font-size: 2.5vmin;
  padding-bottom: 2vmin;
}
#github-links {
  padding-top: 3vmin;
  text-align: center;
}
#github-links a {
  font-size: 2.8vmin;
  margin: auto 1vmin;
  color: #fff;
  background-color: var(--gold);
  padding: .5vmin 1vmin;
  transition: all .5s;
}
#github-links a:hover {
  background-color: var(--darkBrown);
}
#social {
  display: flex;
  justify-content: center;
}
#social a {
  font-size: 4vmin;
  margin: 0 2vmin;
  color: var(--gold);
}

#social a:hover {
  color: var(--darkBrown);
  font-size: 3rem;
  transition: all .5s;
}


/* ----------------------- MEDIA QUERY --------------- */
 @media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
    width: 100%;
  }
  button {
    width: 100%;
    font-size: 6vmin;
    margin-top: 5vmin;
  }
  body {
    width: 100%;
  }

  h2 {
    font-size: 6vmin;
  }
  h3 {
    font-size: 3vmin;
    padding: 5vmin 0;
  }

  .emptyList, .newKronikle, .singleKronikle, .editKronikle, .aboutPage, .lost {
    width: 95%;
  }


  /* NAVIGATION  */
  nav ul {
    height: 13vmin;
  }
  #navLogo {
    font-size: 8.5vmin;
  }

  .fa-plus, .fa-question, .fa-copy {
    font-size: 5.5vmin;
    padding: 0 4.5vmin 0 4.5vmin;
  }

  /* HOMEPAGE */
  #kronikleSpace {
    width: 100%;
  }
  .kCard {
    font-size: 6vmin;
    padding: .7rem;
    border-radius: 0;
    margin-bottom: 2vmin;
  }
  .preview {
    font-size: 4vmin;
  }


  /* NEW KRONIKLE */
  .newKForm, .editKForm {
    margin: 0 auto;
    width: 100%;
  }
  #newKBodyTextArea, #editKBodyTextArea {
    font-size: 4.5vmin;
    min-height: 60px;
  }

  .newKForm input, .editKForm input {
    font-size: 5vmin;
  }

}
